<ion-header>
  <ion-navbar>
    <ion-title>Techkshetra 2k18 Registration App</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="user !== null">
  <ion-grid>
      <ion-row>
        <ion-col col-6>
            <button style="width:100%; height:10rem;" ion-button (click)="scan()">Scan </button>
        </ion-col>
        <ion-col col-6>
            <button  style="width:100%; height:10rem;" ion-button (click)="submit()">SUBMIT </button>
        </ion-col>
      </ion-row>
  </ion-grid>
  <h2>Selected :{{selected?selected:0}} items</h2>
<h2>List will appear here</h2>
<ion-spinner *ngIf="loading === true"></ion-spinner>
  <div *ngIf="data">
     <ion-list>
        <ion-card
            *ngFor="let item of data; let i = index" [attr.data-index]="i" 
            (click)="togglePaid(item, i)"
            [style.background-color]='item.color'>
            <ion-card-header>
              <h1>Event Name : {{item.eventId}} </h1>
            </ion-card-header>
            <ion-card-content>
                <h3>No of Participants: {{item.participants.length}}</h3>
                <h3>Participant details:</h3>
                <ul *ngFor="let participant of item.participants">
                    <li>Name : {{participant.displayName}}</li>
                    <li>email : {{participant.email}}</li>
                    <li>Mobile No: {{participant.mobno}}</li>
                    <li>college: {{participant.college}}</li>
                </ul>
            </ion-card-content>
          </ion-card>
     </ion-list>
  </div>
</div>
<div *ngIf="user === null" style="margin-top:20rem;">
    <ion-item>
        <ion-label>Username</ion-label>
        <ion-input type="email" [(ngModel)]="username"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>Password</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
    <button style="width:100%; margin-top:10rem; height:10rem;" ion-button (click)="login()"> Login </button>
</div>
</ion-content>
